# NOTEBOOK

## INTRODUCTION
The technology keeps growing and new issues to solve have appeared in this globalized world, where we are each time closer to something so important as data management is. Data can be found in almost every aspect of our lives, and they need to be understood if we want to take advantage of the stories that data can tell us. In this document, we will review the basic tools for a data scientist which can take care of thousands of millions of data, improving businesses's performance.

### Programming languages
1. Python
2. R
3. SQL
4. Java

### Data science library
1. Pandas
2. Numpy
3. Matplotlib
4. Tensorflow
5. Scikit-learn

### Tools for data science
<table >
    <tr>
        <th >Languages<th>
        <th> SQL tools <th>
        <th> Nosql tools <th>
        <th> Big data <th>
        <th> Visualization<th>
        <th> deep learning <th>
    <tr>
        
    
<tr
        ><td>Pythond <td
        ><td>MySQLn <td
        ><td>MongoDB  <td
        <td> Hadoop <td>
        <td> Power BI <td>
        <td> Tensorflow <td>
    <tr></tr>
    <tr><td> R <td>
        <td> SQL server <td>
        <td> Redis <td>
        <td> Spark <td>
        <td>Tableau <td>
        <td> Keras <td><tr>
</table>

### Arithmetic expressions:
* 3X5
* 10-8
* 5+2>

In [1]:
x=2
y=5
z=x+y
u=x*y

In [15]:
minutes=30 
hours=minutes/60

### Objetictives
* Recognize data science's basic tools.
* Reinforce jupyter's notebook knowledge.
* Receive an introduction of what it is necessary to know in order to be a data scientist.

### Author: Miguel Cajar